/*
  # Hero
*/
.hero {
  background:$color-primary;
  height:98vh;
  position:relative;
  padding:0;
}

.hero-holder {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  color:$color-white;
  text-transform: uppercase;
  font-size:220%;
  font-family: 'lato', sans-serif;
  text-align: center;
}
.hero-img {
  text-align: center;
}
.hero-desc, .hero-outro-text {
  color:$color-white;
  text-align:center;
}

.hero-outro-text {
  font-style:italic;
}

.arrow-down {
  position:absolute;
  left:0;
  right:0;
  bottom:5px;
  text-align:center;
}
.arrow-down-icon {
  width:35px;
  fill:#fff;
}

/*
 # Program Plan
*/
.program-plan {
  background:$color-sec;
  // color:white;
}
.program-plan-desc, .program-plan-outro {
  text-align:center;
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
}

.program-box {
  border:2px solid #000;
  width:350px;
  margin-left:auto;
  margin-right:auto;
}
.program-box li {
  padding:20px 15px;
  border-bottom:solid 2px #000;
  font-weight: bold;
  text-transform: capitalize;
}
.program-box li:last-child {
  border-bottom: 0;
}
.right {
  margin-top:20px;
  p {
    padding:20px 0;
    margin-left:10px;
  }
}
.box-price {
  display:flex;
  justify-content: center;
}
.show-sm {
  margin-top:10px;
  font-style:italic;
}
@media(max-width:800px) {
  .hidden-sm {
    display:none;
  }
}
@media(min-width:800px) {
  .show-sm {
    display:none;
  }
}

/*
 # Get your video
*/
.get-video {
  background-color:$color-white;
  position: relative;
}
.get-video-desc {
  color:#000;
  text-align:center;
}
.form-container input {
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
}
.form-container form {
  text-align:center;
  max-width:660px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
}
.input-text {
  display:block;
  margin:0;
  padding:10px 20px;
  border:1.2px solid #000;
  background: transparent;
  width:70%;
}

::-webkit-input-placeholder {
  color:rgba(0,0,0,0.8);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.btn-submit {
  display:inline-block;
  border:0;
  font-size:1rem;
  padding:12px 30px;
  background:transparent;
  color:white;
  font-weight:bold;
  margin-top:15px;
  cursor:pointer;
  background-color:$color-primary;
  &:hover {
    background-color:rgba(0,196,244,0.75);
    transition:0.5s;
  }
}
.contact-info {
  text-align:center;
  position: absolute;
  left:0;
  right:0;
  bottom:15px;
}
.contact-info span {
  text-align:center;
  color:#555;
}
.get-video-title {
  font-weight:700;
  text-align:center;
  margin-bottom:30px;
  font-size:120%;
}