@import 'font-family';
@import 'color';
@import 'mixin';
@import 'function';


*, *:before, *:after {
  box-sizing: border-box;
}


body {
	font: $font-size $font-stack
}

html,
body {
	overflow-x: hidden;
	text-rendering: optimizeLegibility
}

img {
	max-width: 100%;
	vertical-align: middle
}

p {
	line-height: 145%
}
.u-push-top {
  margin-top:30px;
}
.u-push-bottom {
  margin-bottom:30px;
}
.u-push-top-lg {
  margin-top:60px;
}
section {
  padding:80px 0;
}

/*
  # Container
*/

.container { 
  margin-right: auto;
  margin-left: auto;
  padding-left:  15px;
  padding-right: 15px;

  @media (min-width: 768px) { width: 750px; }
  @media (min-width: 1024px) { width: 970px; }
  @media (min-width: 1200px) { width: 1170px; }
}